.Whole {
    width: 100%;
    display: flex;
     flex-direction: column;
     gap: 3rem;
}

.Home-Page-Parent-Div {
     background-color: #121212;
     color: #fff;
     font-family: 'Poppins', sans-serif;
     padding: 1rem;
     width: 90%; 
     display: flex;
     flex-direction: column;
     gap: 1.5rem
}

.Overview-Cards-Container {
      display: flex; 
       gap: 15rem;
        width: 100%;
}

.Overview-Card {
    background-color: #2a2a2a;
    padding: 1rem;
    border-radius: 10px;
}

.Total-p {
      font-size: 1.5rem; 
      color: gold
}

.Breakdown-Item {
    list-style-type: none;
    font-size: 1.3rem;
} 

.Charts-Section {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    gap: 3rem; 
    align-items: center
}

.Charts-Section p{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.Chart-Container { 
    display: flex; 
    flex-direction: column;
    width: 80%;         
    padding: 1rem;           
    min-height: 300px;
    height: 450px;
    padding: 1rem;
     gap: 1rem; 
}

.Chart-Wrapper {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
     align-items: center;   
    gap: 1rem; 
}

.Chart-Wrapper h2 {
    text-align: center;
}

.Chart-Container-Wide {
    display: flex; 
    flex-direction: column;
     align-items: center;
    width: 100%;      
    min-width: 50vw;   
    padding: 1rem;           
    min-height: 300px;
    height: 450px;
    padding: 1rem;
     gap: 1rem; 
}

.Currency-Select-Container {
    color: #ededed; 
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
     display: flex;
} 

.Currency-Select-Container label {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.7rem;
}

.Currency-Input-Select {
    padding: 0.7rem; 
    cursor: pointer;
}

@media(max-width: 375px) {
    .Whole {
        min-height: auto;
        height: auto;
        align-items: stretch;
        justify-content: flex-start;
    }
} 

@media(max-width: 768px) {
     .Whole {
        min-height: auto;
        height: auto;
        align-items: stretch;
        justify-content: flex-start;
    }  

    .Home-Page-Parent-Div {
        width: 100%;
    }

    .Overview-Cards-Container {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .Overview-Card {
        width: 90%;
    } 

    .Chart-Container {
        height: 300px;
    }
}

@media (min-width: 769px) {
  .Whole {
    min-height: 110vh;
    justify-content: center;
     align-items: center;
  }
}
