.Whole {
    width: 100%;
    display: flex;
     flex-direction: column;
}
.Home-Page-Parent-Div {
     background-color: #121212;
     color: #fff;
     font-family: 'Poppins', sans-serif;
     padding: 1rem;
     width: 90%; 
     display: flex;
     flex-direction: column;
}
.Home-Page-Expense-Overview-Cards-Container {
      display: flex; 
       gap: 15rem;
        width: 100%;
}
.Expense-Category-Total-Review-Card {
    background-color: #2a2a2a;
    padding: 1rem;
    border-radius: 10px;
}
.Total-p {
      font-size: 1.5rem; 
      color: gold
}
.Category-total-Expense {
    list-style-type: none;
    font-size: 1.3rem;
} 
.Expense-Comparision-Charts-Container {
    width: 100%;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    padding: 1rem;           
    min-height: 300px;
    height: 350px;
}
.Currency-Select-Container {
    color: #ededed; 
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
     display: flex;
} 
.Currency-Select-Container label {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.7rem;
}
.Currency-Input-Select {
    padding: 0.7rem; 
    cursor: pointer;
}

@media(max-width: 375px) {
    .Whole {
        min-height: auto;
        height: auto;
        align-items: stretch;
        justify-content: flex-start;
    }
} 
@media(max-width: 768px) {
     .Whole {
        min-height: auto;
        height: auto;
        align-items: stretch;
        justify-content: flex-start;
    }  
    .Home-Page-Parent-Div {
        width: 100%;
    }
    .Home-Page-Expense-Overview-Cards-Container {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .Expense-Category-Total-Review-Card {
        width: 90%;
    } 
    .Expense-Comparision-Charts-Container {
        height: 300px;
    }
}
@media (min-width: 769px) {
  .Whole {
    min-height: 110vh;
    justify-content: center;
     align-items: center;
  }
}
